body{
text-align: center;

}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 6px solid black;
    margin: 2rem;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}
.light-green{
    background-color: limegreen;
}